.venv/
.idea/
.vscode/
__pycache__

secrets.json
google-secrets.json

.pytest_cache/

.env.dev
.env

certs/


.hosts

*.db
media/docx
media/pdf
media/image/
media/car-session
app/contrib/graph_knowledge/data
graph_analysis_logs/

release/
security/*
*.pem
 